// General Config
// ---

// Width
$mainW = 960px

$desktopW = 960px
$tabletW = 780px
$mobileW = 420px
$smallW = 340px


// Grid system
$gutter = -.2
$columns = 12
$fontSize = 14px

// Fonts
$font1 = "Lucida Grande", Geneva, sans-serif

