// Grid system
// ---

// Wrapper
.grid {
  text-align: justify;
  text-justify: distribute-all-lines;
  font-size: 0;
  position: relative;
  &::after {
    clearfix();
  }

  // Columns
  > [class^="col-"] {
    *display: inline;
    *zoom: 1;
    display: inline-block;
    margin-bottom: ($gutter * -20 px);

    // Reset
    font-size: $fontSize;
    text-align: left;
  }

  // Align
  > [class^="col-"] { vertical-align: top }
  &.align-middle > [class^="col-"] { vertical-align: middle }
  &.align-bottom > [class^="col-"] { vertical-align: bottom }

  // Small grid - xs
  colBuilder(xs);
  > {
    [class^="col-lg-"],
    [class^="col-md-"],
    [class^="col-sm-"] { width: 100% }
  }
}

.visible-xs { display: block !important; }
.hidden-xs { display: none !important; }


// Mobile grid - sm
@media only screen and (min-width: $mobileW) {
  .grid {
    colBuilder(sm);
  }
  .visible-sm { display: block !important; }
  .hidden-sm { display: none !important; }
}

// Medium grid - md
@media only screen and (min-width: $tabletW) {
  .grid {
    colBuilder(md);
  }
  .visible-md { display: block !important; }
  .hidden-md { display: none !important; }
}

// Large grid - lg
@media screen and (min-width: $desktopW) {
  .grid {
    colBuilder(lg);
  }
  .visible-lg { display: block !important; }
  .hidden-lg { display: none !important; }
}
