// DEMO
// ---

body {
  color: #222;
  font-family: "Lucida grande";
  font-size: $fontSize; 
	line-height: 16px;
  padding: 30px;
  &::before {
    position: fixed;
    top: 0;
    left: 0;
    padding: 6px;
    background-color: #BBBBBB;
    font-size: .6rem;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0 0 4px;
  }
}

header {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;  
  h1 {
    padding: 20px;
    font-size: 3rem;
    line-height: 1;
  }
  p {
    margin-bottom: 20px;
  }
}

footer {
  text-align: center;
  padding: 40px 0; 
  margin-top: 20px;
  a {
    color: #ddd;
  }
}

.grid { 
  &:not(:first-of-type) {
    border-bottom: 1px solid #F7F7F7;
    padding-top: 20px;
  }
}

[class^="col-"]::before {
  content: attr(class);
  display: block;
  font-style: initial;
  text-align: center;
  display: block;
  background: #eee;
  // margin: 0 $gutter;
  margin-bottom: $gutter;
  padding-top: 20px; 
  padding-bottom: 20px;
}

.big::before { padding: 25% 0 }
.medium::before { padding: 20% 0 }
.small::before { padding: 10% 0 }