// Config
// ---

// Width
$desktopW = 960px
$tabletW = 780px
$mobileW = 420px
$smallW = 340px

// Grid system
$gutter = -.2
$columns = 12
$fontSize = 14px


// Mixin
// ---

clearfix() {
  content: "";
  display: inline-block;
  width: 100%;
}

// Grid layout
colWidth($n) {
  unit($gutter+($n/$columns)*100, "%");
}

// Columns builder
colBuilder($name) {
  for $i in 1..11 {
    & > .col-{$name}-{$i} {
      width: colWidth($i)
    }
  }
  & > .col-{$name}-12 { width: 100%; }
}


// Grid system
// ---

.grid {
  text-align: justify;
  text-justify: distribute-all-lines;
  font-size: 0;
  position: relative;
  &::after {
    clearfix();
  }

  // Columns
  > [class^="col-"] {
    *display: inline;
    *zoom: 1;
    display: inline-block;
    margin-bottom: ($gutter * -20 px);

    // Reset
    font-size: $fontSize;
    text-align: left;
  }

  // Align
  > [class^="col-"] { vertical-align: top }
  &.align-middle > [class^="col-"] { vertical-align: middle }
  &.align-bottom > [class^="col-"] { vertical-align: bottom }

  // Small grid - xs
  colBuilder(xs);
  > {
    [class^="col-lg-"],
    [class^="col-md-"],
    [class^="col-sm-"] { width: 100% }
  }
}

.visible-xs { display: block !important; }
.hidden-xs { display: none !important; }


// Mobile grid - sm
@media only screen and (min-width: $mobileW) {
  .grid {
    colBuilder(sm);
  }
  .visible-sm { display: block !important; }
  .hidden-sm { display: none !important; }
}

// Medium grid - md
@media only screen and (min-width: $tabletW) {
  .grid {
    colBuilder(md);
  }
  .visible-md { display: block !important; }
  .hidden-md { display: none !important; }
}

// Large grid - lg
@media screen and (min-width: $desktopW) {
  .grid {
    colBuilder(lg);
  }
  .visible-lg { display: block !important; }
  .hidden-lg { display: none !important; }
}
